* {
  box-sizing: border-box;
}

html {
  font-size: 26px;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: antiquewhite;
  padding: 1rem 10%;
}

html[data-iframe] > body {
  padding: 0px;
}

@media (max-width: 600px) {
  html {
    font-size: 16px;
  }
  body {
    padding: initial;
  }
}

code {
  background-color: rgba(222, 222, 222, 0.3);
  color: crimson;
  font-size: smaller;
}

code i {
  color: grey;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0 3rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

h2 {
  font-size: 1.4rem;
  border-bottom: 8px solid hsla(45, 10%, 40%, 0.4);
  margin: 3rem 0 1rem;
}

h2 a {
  color: inherit;
  text-decoration: none;
}

h3 {
  font-size: 1.1rem;
  margin: 2rem 0 1rem;
}

h4 {
  font-weight: normal;
  font-size: 1rem;
}

/*  */
ul, ol {
  font-size: 0.7rem;
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

ul, ol ::marker {
  color: hsla(45, 10%, 40%, 1);
}

ul li, ol li {
  margin: 0.5rem 0;
}

li li li {
  margin: initial;
}

ul p, ol p {
  font-size: smaller;
  margin: 0.1rem 0 0.5rem;
}

/*  */
ul.breadcrumb {
    padding-left: 8px;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li + li:before {
  padding: 4px;
  color: black;
  content: "/\00a0";
}

/*  */
a {
  text-decoration: none;
}
a:hover {
  color: white !important;
  background-color: hsla(45, 10%, 40%, 1);
}

a:visited {
  color: initial;
}

a::after {
  margin-left: 6px;
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
}

a::after:hover {
  color: white !important;
}

small {
  /* font-size: 1.5vw; */
}

/*  */
.code-toolbar pre[class*=language-] {
  font-size: 0.7rem;
  border-radius: 4px;
  background-color: rgba(155, 155, 155, 0.1);
}

/* Forms */

input, button {
  border: 2px solid rgb(240, 225, 200);
  background-color: rgba(250, 250, 250, 0.5);
  padding: 10px;
  border-radius: 8px;
  font-size: 0.6rem;
  font-family: 'Courier New', Courier, monospace;
}

input:focus {
  outline-color: whitesmoke;
}

input[type="button"], input[type="submit"], button {
  cursor: pointer;
  font-weight: bold;
}

input[type="button"]:hover, input[type="submit"]:hover, button:hover {
  background-color: rgba(250, 250, 250, 0.65);
}